
NAV{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

NAV li{
    list-style: none;
    margin-right: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: grey;
}

.text-p{
    color: #FD6E0A;;
}

.btn-p{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 15px 30px;
    color: white;
    border: none;
}

.header{
    background: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner h3{
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
}

.banner h1{
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
}

.btn-c{
    padding: 15px 30px;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    border-radius: 5px;
    margin-left: 30px;
    color: #FD6E0A;
}

