
NAV{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

NAV li{
    list-style: none;
    margin-right: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: grey;
}

.text-p{
    color: #FD6E0A;;
}

.btn-p{
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 15px 30px;
    color: white;
    border: none;
}

.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bc{
    max-width: 500px;
}

.banner h3{
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0%;
    color: #474747;
}

.banner h1{
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner p{
    margin-top: 0%;
}

.btn-c{
    padding: 15px 30px;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    border-radius: 5px;
    margin-left: 30px;
    color: #FD6E0A;
}

main{
    max-width:  1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;

}

.about .title{
    text-align: center;
}
.about .des{
    text-align: center;
}

.about-infoContainer{
    display: flex;
    justify-content: space-around;
}
.about-infoContainer div h4{
    text-align: center;
    margin-bottom: 0%;
}

.about-infoContainer div p{
    margin-top: 5px;
}